/* IMPORTING FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

/* VARIABLES */
:root {
  --darker: #212529;
  --dark: #495057;
  --light: #f8f9fa;
  --blue: #00afb9;

  --short-animation-time: .5s;
  --medium-animation-duration: 1s;
  --big-animation-duration: 3s;
}

/* CSS RESET */
*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

/* body LAYOUT */
body {
  margin-bottom: 5rem;
}

/* body STYLES */
body {
  background-color: var(--darker);
  color: var(--light);
}

/* main LAYOUT */
main {
  width: 80%;
  margin: 0 auto;
}

/* h1 STYLES */

h1 {
  color: var(--blue);
  text-align: center;
  margin: 3rem 0;

  /* ADD YOUR CODE HERE */
  animation: heading-slide var(--big-animation-duration) linear infinite running;
}

/* ADD YOUR CODE HERE */
@keyframes heading-slide {
    0%, 100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-20px);
      }
}


/* .cards-container LAYOUT */
.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, fit-content);
  gap: 2rem;
}

/* .card STYLES */
.card {
  background-color: var(--dark);
  padding: 1.5rem;
  border-radius: 1rem;

  /* ADD YOUR CODE HERE */
  transition: filter var(--short-animation-time);
  filter: blur(3px);
}

/* ADD YOUR CODE HERE */
.card:hover{
  filter: blur(0);
}

/* .card LAYOUT */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* .card ANIMATION */
.card{
  /* ADD YOUR CODE HERE */
  /* animation: delay-blur var(--short-animation-time); */
  animation: hide-blur var(--short-animation-time),
   delay-blur calc(var(--medium-animation-duration) +var(--short-animation-time) ), 
   cards-slide var(--medium-animation-duration) ease-in;
}

/* ADD YOUR CODE HERE */
@keyframes hide-blur {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes delay-blur {
  0%,100%{
    filter: blur(0);
  }
}

@keyframes cards-slide{
    0%{
      transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }

}

/* .tech-icon LAYOUT */
.tech-icon {
  width: 6rem;
  display: block;
}

/* .tech-icon STYLES */
.tech-icon {
  /* ADD CODE HERE */
  filter: grayscale(100%);
}

/* .tech-icon STYLES */
.card:hover > .tech-icon {
  /* ADD CODE HERE */
  filter: grayscale(0);
}

/* p STYLES */
p {
  text-align: center;
}

/* button RESET */
.see-more-btn {
  appearance: none;
  border: none;
  background: none;
}

/* .see-more-btn STYLES */
.see-more-btn {
  text-transform: uppercase;
  font-size: .75rem;
  color: var(--blue);
  font-weight: bold;
  border-radius: .25rem;
  padding: .5rem 1.25rem;
  border: 1px solid var(--blue);

  /* ADD YOUR CODE HERE */
  transition: transform var(--short-animation-time);
}

/* .see-more-btn STYLES */
.see-more-btn:hover {
  cursor: pointer;

  /* ADD YOUR CODE HERE */
  transform: translateY(-3px);
  background-color: var(--blue);
  color: var(--light);
}